<header class="header">
  <h1>Slack apps &amp; utilities <i>by <a href="https://www.gesteves.com">Guillermo Esteves</a></i></h1>
  <p>This is a small collection of Slack apps and slash commands I’ve put together over time.<br/>I hope you find some of them useful!</p>
</header>

<div class="app">
<h2 id="frink">/frink <i>Simpsons gifs from <a href="https://frinkiac.com/">Frinkiac</a> in your Slack</i></h2>
  <%= image_tag 'frink.png', class: 'app__screenshot' %>
  <div class="app__button">
    <a class="button" href="https://slack.com/oauth/authorize?scope=commands&client_id=<%= ENV['FRINK_CLIENT_ID'] %>&amp;redirect_url=<%= frink_auth_url %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </div>
</div>

<div class="app">
  <h2 id="morbo">/morbo <i>Futurama gifs from <a href="https://morbotron.com/">Morbotron</a> in your Slack</i></h2>
  <%= image_tag 'morbo.png', class: 'app__screenshot' %>
  <div class="app__button">
    <a class="button" href="https://slack.com/oauth/authorize?scope=commands&client_id=<%= ENV['MORBO_CLIENT_ID'] %>&amp;redirect_url=<%= morbo_auth_url %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </div>
</div>

<div class="app">
  <h2 id="caniuse">/caniuse <i>Search <a href="http://caniuse.com/">caniuse.com</a> from Slack</i></h2>
  <%= image_tag 'caniuse.png', class: 'app__screenshot' %>
  <div class="app__button">
    <a class="button" href="https://slack.com/oauth/authorize?scope=commands&client_id=<%= ENV['CANIUSE_CLIENT_ID'] %>&amp;redirect_url=<%= caniuse_auth_url %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </div>
</div>

<div class="app">
  <h2 id="weather">/weather <i>Up-to-the-minute weather forecasts from <a href="http://forecast.io/">forecast.io</a> in Slack</i></h2>
  <%= image_tag 'weather.png', class: 'app__screenshot' %>
  <div class="app__button">
    <a class="button" href="https://slack.com/oauth/authorize?scope=commands&client_id=<%= ENV['WEATHER_CLIENT_ID'] %>&amp;redirect_url=<%= weather_auth_url %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </div>
</div>

<div class="app">
  <h2 id="metro">/metro <i>Arrival information for any Metro station in Washington, DC</i></h2>
  <%= image_tag 'metro.png', class: 'app__screenshot' %>
  <div class="app__button">
    <a class="button" href="https://slack.com/oauth/authorize?scope=commands&client_id=<%= ENV['METRO_CLIENT_ID'] %>&amp;redirect_url=<%= metro_auth_url %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </div>
</div>

<div class="app">
  <h2 id="cabi">/cabi <i>Find <a href="https://www.capitalbikeshare.com/">Capital Bikeshare</a> stations in Washington, DC</i></h2>
  <%= image_tag 'cabi.png', class: 'app__screenshot' %>
  <div class="app__button">
    <a class="button" href="https://slack.com/oauth/authorize?scope=commands&client_id=<%= ENV['CABI_CLIENT_ID'] %>&amp;redirect_url=<%= cabi_auth_url %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </div>
</div>

<div class="app">
  <h2 id="citibike">/citibike <i>Find <a href="https://www.citibikenyc.com/">Citibike</a> stations in New York City</i></h2>
  <%= image_tag 'citibike.png', class: 'app__screenshot' %>
  <div class="app__button">
    <a class="button" href="https://slack.com/oauth/authorize?scope=commands&client_id=<%= ENV['CITIBIKE_CLIENT_ID'] %>&amp;redirect_url=<%= citibike_auth_url %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </div>
</div>
